* {
    box-sizing: border-box
}

body {
    padding: 10px;
    background: #c0c0c0;

}


div {
    padding: 10px
}

section {
    padding: 10px;
}

.container {
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}


.border {
    border-color: #171717;
    border: 1px solid;
}

.bgcolor_red {
    background: #ff0000;
}

.bgcolor_green {
    background: #28aa70;
}

.bgcolor_blue {
    background: #008cff;
}

.bgcolor_yellow {
    background: #ffd700;
}

.bgcolor_pink {
    background: #c628a1;
}

.margin-10 {
    margin: 10px;
}

.d-flex {
    display: flex;

}

.w-100 {
    width: 100%
}

.h-100 {
    height: 100%
}


.w-30 {
    width: 30%
}

.h-30 {
    height: 30%
}

.h-min {
    min-height: 200px;
}


.w50 {
    flex-grow: 1;
    flex-basis: 100%;

}

.w25 {
    flex-grow: 1;
    flex-basis: 100%;

}

@media screen and (max-width: 900px) {

    .d-flex {
        display: flex;
        flex-wrap: wrap;
    }


    .w50 {
        flex-grow: 1;
        flex-basis: 100%;
        flex-shrink: 0;
        max-width: calc(100% - 20px);
        min-width: calc(100% - 20px);

    }

    .w25 {
        flex-grow: 1;
        flex-basis: 100%;
        flex-shrink: 0;
        max-width: calc(50% - 20px);
        min-width: calc(50% - 20px);


    }

    .w-30 {
        width: calc(100% - 20px);
        flex-grow: 1;
    }


    .bgcolor_green:nth-child(3) {
        background: #28aa70;
        flex-direction: column-reverse;


    }

}


